.headingWords
{
    font-size:30px;
    font-family: 'Cambay', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    background-color: aquamarine;
    padding: 1px;


}
.mainDiv
{
    margin-top:0px;
    background-color:black;
    padding:1%;
    margin-left: 20%;
    text-align: center;
    margin-right: 20%;
}
  .showButton
  {
      margin-left:24%;
      width:90px;
      height:20px;
  }
.outputBox
{
    background-color:green;
    margin-left: 20%;
    text-align: center;
    margin-right: 20%;
  
}
 