.headingWords
{
    font-size:30px;
    font-family: 'Cambay', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    background-color:blueviolet;
    padding: 1px;


}
.mainDiv
{
    margin-top:0px;
    background-color:coral;
    padding:1%;
    margin-left: 20%;
    text-align: center;
    margin-right: 20%;
    
}
  .showButton
  {
      margin-left:0px;
      width:100px;
      height:20px;
  }
.outputBox
{
    background-color:rgb(75, 235, 75);
    margin-left: 20%;
    text-align: center;
    margin-right: 20%;
  
}
 