

p.question {
  font-family: Arial, sans-serif;
	  font-size:20px;
  color: #2E2E2E;
  margin-bottom:0px;
}

.centerTable
{
  margin:auto;
  height:500px;
  width: 600px;


}
.ques1
{
  background-color:lightgreen;
  margin-left: 50%;
  border-radius:12px;
}
.ques12
{
  background-color:lightblue;
 padding:15%;
  border-radius:12px;
}
.ques11
{
  padding:10%;
}

h2.quizHeader {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight:normal;
  font-size:30px;
  line-height: 27px;
  margin-left:45%;

}
.ques34
{
  background-color:grey;
  padding:15%;
  border-radius:12px;
}
.ques43
{
  background-color:rgb(212, 137, 137);
  padding:15%;
  border-radius:12px;
}
h2.quizScore{
  font-family: Arial, sans-serif;
  font-size:25px;
}

div.quizAnswers{
  font-family: Arial, sans-serif;
  font-size:16px;
  color: #424242;
  padding: 4px 0 4px 0;
}

label {
  font-family: Arial, sans-serif;
  font-size:14px;
  color:black;
  vertical-align:top;
}

input.answer[type="radio"] {
  margin-bottom: 10px;
}

input.quizSubmit[type="submit"] {
 
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 5px 0px;
  color: #ffffff;
  background-color: #c30b0a;
  margin-left: 45%;
  border: 0;
  outline: 0;
  text-transform:uppercase;
  height:35px;
  width:85px;
  border: 1px solid #5E5E5E;
  border-radius:5px;
  
 }

input.quizSubmit[type="submit"]:hover {
  color: #ffffff;
  background: #680f11;
  text-decoration: none;
}

table {
  background-color: #F2F2F2;
	  border:1px solid #BDBDBD;
  border-radius:5px;
  padding:10px;
  padding-left:25px;
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 1px 0px;
}



.hide {
	  display:none;
}


.Reload{
  font-size:20px;
  margin-left:10%;
  
  font-family: sans-serif;
  
}
