.header
{
    font-size:50px;
    margin-left: 30%;
    margin-right: 20%;
    background-color: rgb(75, 241, 75);
    border-radius: 12px;
    padding:5px;
    border: 5px solid red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mainDiv
{
    color: green;
    font-size: 20px;
background-color:black;
width: 80%;
height:450px;
margin-left: 150px;
border-radius:12px;
}
.box1
{
    margin-left:50px;
}
.box2
{
    margin-left:28px;
}
.unitSelect{
    margin-left: 30%;
    font-size: 25px;
    color:white;

}
.options{
 width:180px;
 height:30px;
 color:red;
}
.formInput
{
    background-color:orange;
    margin-left:20%;
    color:white;
    margin-top: 20px;
    margin-right:10%;
    height: 30%;
    border-radius:12px;
    padding:10%;
}
.result
{
    background-color:green;
    margin-left:50%;
}