body {
	background:black;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.intro {
	margin: 50px;
	font-weight: bold;
	font-size: 30px;
	font-family:Georgia, 'Times New Roman', Times, serif
}

h1 {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 800;
	font-size:50px;
}

p {
	font-weight: 600;
}







ul {
	text-align: left;
	margin-top: 20px;
}


li {
	list-style: none;
	padding: 10px;
	color: #ffffff;
	margin-left: 20%;
	
}



li > button {
	font-weight: normal;
	background: none;
	border: none;
	margin-left: 60%;
	color:white;
	
	font-weight: 800;
}

input {
	border-radius: 5px;
	min-width: 40%;
	padding: 5px;
	border: none;
}




.delete {
	display: none;
}
.EnterButton
{
	height:30px;
	border-radius: 12px;
}