

body {
    font-family: "Open Sans", sans-serif;
    color:#444444;
  }
  
  a {
    color: #106eea;
  }
  
  a:hover {
    color:#106eea ;
    text-decoration: none;
  }
  
  h1, h2,h4, h6 {
    font-family: "Roboto", sans-serif;
  }
  h5
  {
    font-family: "Roboto", sans-serif;
    color:white;

  }
  h3{
    font-family: "Roboto", sans-serif;
    color: white;
  
  }
  p{
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
 

    
  
  
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    background:#fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    top: 20px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #header.header-scrolled {
    top: 0;
    padding: 5px;
  }
  
  #header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
  }
  
  #header .logo a {
    color: #222222;
  }
  
  #header .logo a span {
    color: red;
  }
  
  #header .logo img {
    max-height: 40px;
  }
  
  @media (max-width: 992px) {
    #header {
      padding: 15px;
      top: 0;
    }
    #header .logo {
      font-size: 28px;
    }
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  .nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  
  .nav-menu > ul {
    display: flex;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 1px 0px 10px 20px;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    color:black;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 600;
    padding: 0 3px;
    font-family: 'Syne Mono', monospace;
  }
  
  .nav-menu > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #106eea;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  
 
  
  .nav-menu a:hover, .nav-menu li:hover > a {
    color: #106eea;
    font-size: 30px;
  }
  
  .nav-menu .drop-down ul {
    display:block;
    position: absolute;
    left: 26px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  
  .nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
  }
  
  .nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #062b5b;
  }
  
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #106eea;
    font-size: 25px;
  }
  
  
  

  
  .nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
   
  @media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
      left: -100%;
    }
   
  }
  
  .searchBar {
    color:black;
    border-radius: 12px;

  }
 
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 75vh;
    background: url("../images/Game1Image.jfif") top left;
    background-size: cover;
    position: relative;
  }
  
  #hero:before {
    content: "";
    background: rgba(255, 255, 255, 0.6);
    position: absolute; 
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .container {
    position: relative;
    padding-top: 132px;
  }
  
  @media (max-width: 992px) {
    #hero .container {
      padding-top: 58px;
    }
  }
  
  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #222222;
    font-family: "Poppins", sans-serif;
  }
  
  #hero h1 span {
    color: #106eea;
  }
  
  #hero h2 {
    color: #555555;
    margin: 5px 0 30px 0;
    font-size: 24px;
    font-weight: 400;
  }
  
  
  
  
  
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color:black;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
  }
  
  .section-title h3 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
  }
  
  .section-title h3 span {
    color: #106eea;
  }
  
  .section-title p {
    margin: 15px auto 0 auto;
    font-weight: 600;
  }
  
  @media (min-width: 1024px) {
    .section-title p {
      width: 50%;
    }
  }
  
  
  
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  .about .content h3 {
    font-weight: 600;
    font-size: 26px;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;
  }
  
  .about .content ul li:first-child {
    margin-top: 35px;
  }
  
  .about .content ul i {
    background: #fff;
    box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
    font-size: 24px;
    padding: 20px;
    margin-right: 15px;
    color: #106eea;
    border-radius: 50px;
  }
  
  .about .content ul h5 {
    font-size: 18px;
    color: #555555;
  }
  
  .about .content ul p {
    font-size: 15px;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }

  .aboutImage {
      border-radius: 12px;
      width:500px;
      padding:0px;
      height: 300px;
    
  }
  .divisionPara
  {
      font-size:10px;
      float:right;
  }

/*---------------------------------------
#photogallery Section 
----------------------------------------*/


/* Slideshow container */
.slideshow-container {

  position: relative;
  margin: auto;
  width:100%;
  background-color:#106eea;

 
}

.mySlides {
  display:block;
  width: 800px;
  height: 500px;
  margin-left:1px;
  padding: 5%;
  margin:auto;
  border-radius:12px;
  


}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  padding: 10px;
  color:black;
  transition: 0.6s ease;

  margin-top: -300px;
  margin-left: 200px;
  margin-right: 200px;

}


.next {
  right: 0;
  border-radius:12px;;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}







/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 60s;
}

@-webkit-keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}
.photoText {
  font-family: 'Train One', cursive;
  font-size:50px;
  color:white;
  background-color:black;

  padding:2%;
  margin-top: 2%;
}
.Gallery {

  color:#106eea;
  

  
}
.photoText2 {
  font-family: 'Noto Serif JP', serif;
  font-size:50px;
  border-radius: 12px;
  margin-left: 100px;
  color:#106eea;
  
}

/*
*
#Slider
*/
.featuredGallery {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  background-color:black;
  width: 80%;
  height: 50%;
  overflow-x:auto;
  overflow-y: hidden;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-gap: 0 50px;
  border-radius:12px;
  padding: 30px 60px;
  padding-right: 0;
  border-radius:12px;
}

.item {
  background-color:black;
  padding:0px;
  height: 300px;
  width: 250px;
  border-radius: 12px;
}
/*
#Good font 
*/
.listGame {
  width: 100%;
  height:300px;
  background-color:black;
  padding:10px;

 
  
  
}
.firstList {
  float:left;
  width:33%;
  height:90%;
  background-color:aqua;
  border-radius:12px;

}
.leftSide {
  background-color:lightblue;
  height:40%;
  border-radius:12px;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  padding: 10px;
}
.rightSide {
  BACKGROUND-COLOR:red;
  height:40%;
  border-radius:12px;
  padding:10px;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
}
.secondList {
  float:left;
  width:33%;
  height:90%;
  background-color:greenyellow;
  padding:10px;
  border-radius:12px;
  margin-left:8px;


}
.thirdList {
  float:left;
  width:30%;
  height:90%;
  background-color:#444444;
  border-radius:12px;
  margin-left:8px;
}
.thirdList .verticalLeft
{
  border-radius:12px;
  float:left;
  width:40%;
  height:90%;
  margin-top: 15px;
  margin-left:20px;
  background-color: pink;
}
.verticalright {
  border-radius:12px;
  padding:10px;
  margin: auto;
  margin-top: 15px;
  margin-left:30px;
  float:left;
  width:40%;
  height:90%;
  background-color: yellow;
}
.listofgame
{
  padding:40px;
  color:black;
}
.game{
  padding:30px;
  color:black;
}
.li2
{
   font-size:15px;
   margin-top:1em;
   font-display:inherit;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}



.news {
  overflow: hidden;
  background-color: #e9e9e9;
  height:200px;
  width:100%;
}

/* Style the links inside the navigation bar */
.news a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}







.news input[type=email] {

  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-left: 8px;
  font-size: 17px;
  width:600px;
}
.submitButton {
  width:100px;
  height:30px;
  
  margin: auto;
  border-radius:12px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}