.wrapper
{
 margin-left: 35%;
 margin-top: 7%;
 padding: auto;
 font-size:16px;
 color: white;
 background-color:black;
 border-radius:12px;
 font-family: Georgia, 'Times New Roman', Times, serif;
}
body
{
   background-image: url(../CRUDAPP/new.jpg);
    
    
}
.signup
{
   color:white;
}
